<div class="col-md-9">
   <formio 
  [hideComponents]="componentesToHide"
  [form]='  {
    "title": "Yaqeen control component",
    "group": "layout",
    "template":"tfsdemplate.html",
    "viewTemplate":"tempdsfdslate.html",
    "components": [
        {
          "type": "yaqeenControl",
          "isNew": true,
          "key": "custom",
          "protected": false,
          "persistent": true,
          "placeholder": "Enter your email address",
          "spellcheck":false
        }
    ]
  }'></formio> 
</div>