<div class="container" style="background: gray">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <a class="navbar-brand" style="color: black" routerLink="form">All components</a>
                <!-- <a class="navbar-brand" style="color: black" routerLink="custom">My custom</a> -->
                <!-- <a class="navbar-brand" style="color: black" routerLink="customwithtemplate">My custom with Template</a>
                <a class="navbar-brand" style="color: black" routerLink="fteaster">Formio Teaster (coreJS)</a>
                <a class="navbar-brand" style="color: black" routerLink="compRes">Comp. wiht Resources</a> -->
                <a class="navbar-brand" style="color: black" routerLink="learn">Learning</a> 
                <a class="navbar-brand" style="color: black" routerLink="builder">Builder</a> 
                <a class="navbar-brand" style="color: black" routerLink="custombuilder">Custom Builder</a> 
                <a class="navbar-brand" style="color: black" routerLink="datepicker">Datepicker</a> 
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

</div>
<div class="container">
    <router-outlet></router-outlet>
</div>   