<div class="col-md-6">
  <h3>Formio - Learning Resources</h3>
</div>
<div class="col-md-6">
  <div class="list-group">
    <a class="list-group-item" target="_blank" href="http://jsonlogic.com/">JsonLogic Site</a>
    <a class="list-group-item" target="_blank" href="http://formio.github.io/formio.js/app/examples/conditions.html">Conditional Forms </a>
    <a class="list-group-item" target="_blank" href="https://github.com/formio/formio.js/wiki/Field-Logic-Schema">Field Logic Schema</a>
    <a class="list-group-item" target="_blank" href="https://github.com/formio/formio.js/wiki/Components-JSON-Schema">Components JSON Schema </a>
    <a class="list-group-item" target="_blank" href="https://portal.form.io/#/project/5acbd1b53c2be283ced30238/form/5ad105a939a94bb009f3c045/edit">
      online form builder</a>
    <a class="list-group-item" target="_blank" href="https://gitter.im/formio/formio?at=5a2c4a8487680e6230f068ef">Where communities thrive (Formio Chat)</a>
    <a class="list-group-item" target="_blank" href="https://github.com/formio/formio.js/wiki/Components-JSON-Schema"> Common Components JSON Schema </a>
    <a class="list-group-item" target="_blank" href="https://stackoverflow.com/questions/47546831/form-io-not-rendering-custom-component">
      stackoverflow - sample with template </a>
  </div>
</div>